* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    overflow-x: hidden;
    background-image: url('https://source.unsplash.com/1500x3000/?landscape');
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
}

/* .body-color {
    background-color: #ccebff;
    width: 100vw;
    height: 100vh;
    
} */

.header {
    background-color: #96c4ff;
    color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;

}

h1 {
    font-size: 24px;
}


.hero {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: auto;

}

/* .hero>* {
    grid-column-start: 1;
    grid-row-start: 1;
} */

.hero-content {
    padding: 30px;
    background: #96c4ff;
    border-radius: 10px;
    opacity: .9;

}

.hero-content img {
    width: 600px;
}

.search-container {
    margin: 5px;

}


.search-container button {
    padding: 6px 10px;
    margin-top: 50%;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: white;
    cursor: pointer;

}

.search-container button:hover {
    border: none;
}

.search-container input {
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
}

.card {
    margin-top: 10px;
    margin-left: 10px;

}

.card p {
    margin: 5px 0;
}

.card-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    grid-gap: 20px; 
    max-width: 900px; 
    margin: 40px auto; 
}

.card-design {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #96c4ff;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .hero-content img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .hero-content img {
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .hero-content img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr; 
      grid-gap: 10px;
    }
    .card-design{
        width: 80%;
        margin: auto;
    }
  }